.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 12px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer_list {
    padding-left: 0;
    list-style: none;
}

.footer_item-link {
    text-decoration: none;
    color: #737373;
    font-size: 1.4rem;
    font-weight: 500;
    display: block;
    padding: 4px 0;
}

.footer_item-link:hover {
    color: var(--primary-color)
}

.footer_item-icon {
    font-size: 1.8rem;
    padding-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__download_qr {
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-store {
    height: 20px;

}

.footer__download-google-play {
    height: 20px;

}

.footer__download-link {
    text-decoration: none;
    color: transparent;
}

.footer__bottom {
    background-color: #ece9e9;
    padding: 8px 0;
    margin: 12px 0 0 0;
}

.footer__text {
    font-size: 1.4rem;
    text-align: center;
}

.fs-14 {
    font-size: 1.4rem !important;
}

.fs-16 {
    font-size: 1.6rem !important;
}

.fs-18 {
    font-size: 1.8rem !important;
}

.fs-20 {
    font-size: 2rem !important;
}

.fs-22 {
    font-size: 2.2rem !important;
}

.fs-24 {
    font-size: 2.4rem !important;
}